* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    height: 100vh;
    
}

body{
    background-image: /* linear-gradient(rgba(255, 255, 255, 0.178), rgba(255, 255, 255, 0.219)),  */url("../public/img/storelogo.png");
    background-color: rgb(197, 57, 202);
    background-size: cover;
    background-repeat: repeat;
    font-family: 'Courgette', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.hederIndex{
    background-image: url("../public/img/storelogo.png");
}

.nombreTienda {
    margin-left: 10px;  
}


.navbar-text {
    display: flex;
    gap: 20px;
}

.active {
    color: purple;
}

.nav-link.active{
    border: solid rgb(140, 0, 255);
    padding: 5px;
    border-radius: 8px;
}

.fas.fa-shopping-cart.icono-carrito {
    margin-left: 500px;
    margin-top: 20px;
}

.notificacionCart{
    color: white;
    background-color: red;
    border-radius: 6px;
    margin-left: 2px;
}

.contadorIndex {
    margin-left: 10px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    color: black;
}

.btnContador {
    background-color: rgb(135, 93, 163);
    border: purple;
    padding: 2px;
    margin-right: 20px;
    border-radius: 5px;
    color: white;
}

.tituloProductos {
    grid-column: 1 / -1;
}

.containerProductos{
    
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
    padding: 30px;
    gap: 10px;
    
}

.cardProductos {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding-left: 10px;
    border-radius: 10px;
    padding-bottom: 5px;
}

.parrafoCard{
    padding-bottom: 25px;
}

.fotoProducto{
    width: 80%;
    height: 80%;
}

.footerIndex {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
    margin-top: auto;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: azure;
}

.textoFooter {
    display: flex;
    justify-content: center;
}


.btnDetalle.btnagregar{
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background-color: rgb(14, 178, 243);
    padding: 2px;
}

.containerProductosCarrito{
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    width: 95%;
    border-radius: 5px;
    color: black;
    padding: 10px;
    margin-bottom: 20px;
}

.cardProductosCarrito{
    color: black;
    margin-left: 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px; 
}

input {
    border-radius: 7px;
}

.btnComprar {
    width: 25%;
    border-radius: 5px;
    background-color: rgb(7, 187, 7);
    color: white;
}