* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    height: 100%;
}

body{
    background-color: rgb(114, 2, 243);
    font-family: 'Courgette', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.nombreTienda {
    margin-left: 10px;
    
}


.navbar-text {
    display: flex;
    gap: 20px;
}

.active {
    color: purple;
}

.nav-link.active{
    border: solid rgb(140, 0, 255);
    padding: 5px;
    border-radius: 8px;
}

.fas.fa-shopping-cart.icono-carrito {
    margin-left: 500px;
    margin-top: 20px;
}

.notificacionCart{
    color: white;
    background-color: red;
    border-radius: 6px;
    margin-left: 2px;
}

/* Body */



.contadorIndex {
    /* background-color: white; */
    margin-left: 10px;
    width: 100%;
    /* border: solid black; */
    border-radius: 10px;
    padding: 5px;
    color: black;
}

.btnContador {
    background-color: rgb(135, 93, 163);
    border: purple;
    padding: 2px;
    margin-right: 20px;
    border-radius: 5px;
    color: white;
}

.tituloProductos {
    grid-column: 1 / -1;
}

.containerProductos{
    
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
    
    padding: 30px;
    gap: 10px;
    
}

.cardProductos {
    background-color: white;
    border: solid black;
    color: black;
    padding-left: 10px;
    border-radius: 10px;
}

.parrafoCard{
    padding-bottom: 25px;
}

.fotoProducto{
    width: 80%;
    height: 80%;
}












.footerIndex {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
    margin-top: auto;
    
}

.textoFooter {
    display: flex;
    justify-content: center;
}


/* estilo boton detalle */

.btnDetalle.btnagregar{
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background-color: rgb(194, 138, 247);
    
    padding: 2px;
}


.containerProductosCarrito{
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    width: 95%;
    border-radius: 5px;
    color: black;
    padding: 10px;
}

.cardProductosCarrito{
    color: black;
    margin-left: 10px;
}