* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(142, 99, 243);
}


.navbar-text {
    display: flex;
    gap: 20px;
}

.nav-link.active{
    border: solid black;
    padding: 5px;
    border-radius: 8px;
}

.fas.fa-shopping-cart.icono-carrito {
    margin-left: 500px;
    margin-top: 20px;
}

.notificacionCart{
    color: white;
    background-color: red;
    border-radius: 6px;
}